
  <%= form_with model: [commentable, Comment.new], local: true, html: { class: local_assigns[:class]} do |f|%>
  	<div class="emoji-picker-container">
	  <%= f.text_area :body, placeholder: "Оcтавьте коментарий", type: "form-control", class: 'form-control', data: { emojiable: true } %>
      <%= f.hidden_field :parent_id, value: local_assigns[:parent_id] %>
	  <%= f.submit "Добавить", class: 'button' %>
	</div>
  <% end %>

