<%= form_with model: [commentable, Comment.new], local: true, html: { class: local_assigns[:class]} do |f|%>
  <div class="pl-0 container post_section comment_field">
	<div class="post_write field">
	  <%= f.text_field :body, placeholder: "Оcтавьте коментарий", type: "form-control", class: 'form-control' %>
	  <%= f.hidden_field :parent_id, value: local_assigns[:parent_id] %>
	</div>
	<%= f.submit "Отправить", class: 'send' %>
  </div>
<% end %>

