<div class="start_page">
  <div class="form-in-authentication">
  <h3 class="names-sectors">Придумайте никнейм</h3>
  <div class="password_explanation">Как Вас величать?</div>
  <%= form_with scope: :user,  url: user_path(current_user), method: :put, local: true do |f| %>
    <%= f.hidden_field :phone, value: params[:phone] %>
  <div class="input_for_new_password">
    <p class="hint-input">Никнейм</p>
    <%= f.text_field :nickname, autofocus: true, :class => "input_information" %>
  </div>

  <%= f.submit 'Продолжить', :disabled => true, class: 'block-send-information',:id => "create_nickname" %>
  <% end %>
</div>
</div>