<%# authentication_confirmation_path %>
<%# edit_user_password_path %>
<div class="start_page">
    <div class="form-in-authentication">
        <h3 class="names-sectors">Код подтверждения</h3>
        <div class="password_explanation">Введите СМС код отправленый на номер  </div>
         <%= form_with  url: authentication_confirmation_path, method: :post, local: true do |f| %>
          <div id="form_for_code_confirmation">
            <input type="text" name="1" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" autofocus/>
            <input type="text" name="2" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
            <input type="text" name="3" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
            -
            <input type="text" name="4" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
            <input type="text" name="5" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
            <input type="text" name="6" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /> 
            </div>
          <div class="mt-5"><%= link_to 'Запросить код повторно', root_path%></div>
        <%= f.submit 'Продолжить', class: 'send-information' %>
          <% end %>
        
    </div>
</div>

<script>
$(function() {
  'use strict';
alert('Код подтверждения 111111');
  var body = $('body');

  function goToNextInput(e) {
    var key = e.which,
      t = $(e.target),
      sib = t.next('input');

    if (key != 9 && (key < 48 || key > 57)) {
      e.preventDefault();
      return false;
    }

    if (key === 9) {
      return true;
    }

    if (!sib || !sib.length) {
      sib = body.find('input').eq(0);
    }
    sib.select().focus();
  }

  function onKeyDown(e) {
    var key = e.which;

    if (key === 9 || (key >= 48 && key <= 57)) {
      return true;
    }

    e.preventDefault();
    return false;
  }
  
  function onFocus(e) {
    $(e.target).select();
  }

  body.on('keyup', 'input', goToNextInput);
  body.on('keydown', 'input', onKeyDown);
  body.on('click', 'input', onFocus);

})
</script>