<div class="text-center start_page">
  <p class="around_button_start_page"><%= link_to 'Вход' , new_user_session_path, :class => "button_log_in"  %></p>
  <p><%= link_to 'Регистрация' , new_user_registration_path, :class => "button_sign_up" %></p>
</div>