<div class="text-center start_page">
  <p class="around_button_start_page"><%= link_to 'Вход' , show_form_in_path, :class => "button_log_in"  %></p>
  <p class="around_button_start_page"><%= link_to 'Регистрация' , show_form_in_path, :class => "button_sign_up" %></p>
</div>