<div class="text-center start_page">
  <h3 class="greeting">Добро пожаловать в Tengri social!</h3>

  <%= form_with url: authentication_look_for_path(@phone), local: true do |f| %>
    <div class="field my-3">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
      <%= f.submit 'Отправить', class: 'btn btn-info my-4' %>
    <% end %>
 

</div>