/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require rails_emoji_picker
*= require font-awesome
*/
body{
  font-family: Roboto, sans-serif;
  margin: 0 auto;
  background: #F6F6F6;
}
.start_page{
  display: flex;
  justify-content: center;
  margin-top: 264px;
}
.settings{
  display: flex;
  justify-content: center;
  margin-top: 49px;
}
.password_page{
  display: flex;
  justify-content: center;
  margin-top: 186px;

}
.incorrect-password{
  height: 32px;
  margin-bottom: 46px;
  background: #D93067;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  padding-top: 4px;
}
.correct-password{
  height: 32px;
  margin-bottom: 46px;
  color: white;
}
.form-in-authentication{
  width: 358px;
}
.names-sectors{
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  color: #0E1826;
}
.input_valide{
  border: 0.5px solid #568CD6;
}
.input_invalide{
  border: 0.5px solid #D93067;
}
.nick_invalide{
  color: #D93067;
}
.input_for_form, .input_for_password, .input_for_new_password{
  box-sizing: border-box;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.120697);
  border-radius: 5px;
  height: 56px;
  padding: 6px 12px 10px 12px;
}
.input_for_form{
  margin-top: 58px;
}
.input_for_new_password{
  margin-top: 37px;
}
.edit-nickname{
  margin-top: 24px;
  background: #FFFFFF;
  border: 0.5px solid #838487;
  border-radius: 5px;
  height: 56px;
  padding: 6px 12px 10px 12px;
}
.hint-input{
  font-size: 12px;
  color: #838487;
  margin: 0;
}
.hint-settings{
  font-size: 13px;
  color: #838487;
  margin: 0;
}
.input_information, .phone-mask{
  border: none;
  font-size: 14px;
  width: 85%;
}
.input_information:active, .input_information:hover, .input_information:focus {
  outline: 0;
  outline-offset: 0
}
.gradient {
  background: #1613CC; /* Для старых браузров */
  background: linear-gradient(90deg, #568CD6 0%, #0F3794 97.64%);
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.631878);
  border-radius: 5px;
}
.block-send-information, .send-information{
  font-family: Roboto;
  margin-top: 52px;
  border-radius: 5px;
  width: 358px;
  height: 44px;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #FFFFFF;
  border: 1px soli
  
  d rgba(255, 255, 255, 1);
  text-align: center;
  padding-top: 13px;
}
.block-send-information{
  background: linear-gradient(90deg, #DDEAFD 0%, rgba(122, 177, 255, 1) 99.99%, #DDEAFD 100%);
}
.send-information{
  background: linear-gradient(90deg, #568CD6 0%, #0F3794 97.64%);
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0);
}
.registration-agreement{
  margin-top: 63px;
  font-size: 12px;
  text-align: center;
  color: #838487;
}
.link-in_agreement{
  font-size: 12px;
  color: #4e87dc;
}
.forgot-password{
  margin-top: 42px;
  text-align: center;
  font-size: 13px;
}
.link-forgot-password{
  font-weight: bold;
  font-size: 13px;
  color: #568CD6;
}
.toggle-password{
  color: #DADADA;
}
.password_explanation{
  font-size: 14px;
  color: #0E1826;
  margin-top: 16px;
}
.password_check{
  font-size: 14px;
  color: #838487;
  margin-top: 8px;
  height: 17px;
}
.account-settings{
  margin-top: 126px;
  margin-bottom: 81px;
}
.small-print{
  width: 220px;
  font-size: 14px;
  padding-top: 40px;
}
.decoration{
	color: black;
	background: blue;
	border-radius: 5px;
}
.password_creation{
  font-size: 20px;
  font-weight: bold;
  width: 320px;
}
.link_in_edit{
  width: 230px;
}
.container{
  max-width: 768px;
}
.navbar{
  background: #FFFFFF;
  height: 90px;
  font-size: 0.9em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
  margin: 0 auto;
}

.gradient {
  background: #1613CC; /* Для старых браузров */
  background: linear-gradient(90deg, #568CD6 0%, #0F3794 97.64%);
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.631878);
  border-radius: 5px;
}
.nav_app{
  background: #FFFFFF;
  height: 130px;
  font-size: 0.9em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
  margin: 0 auto;
}
.sign-out {
  color: #D93067;
}
.nav-item {
  text-align: right;
}
h6{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #0E1826;
}
.nav_link{
  /* padding-top: 14px; */
  font-size: 17px;
  color: #568CD6;
  line-height: 20.4px;
}
.h6{
  font-size: 17px;
  color: #0E1826;
}
.position-relative{
  position: relative;
  margin-bottom: 0;
}
.h5{
  font-size: 14px;
  left: 17px;
  top: -32px;
  z-index: 101;
}
.user{
  right: 19px;
  bottom: 20px;
  z-index: 100;
}
.text_wrap { 
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}
.wrap{
  max-width: 38.25em;
  font-size: 1em;
  color: #0E1826;
}
.icon_text{
  font-size: 12px;
  color: #0E1826;
  line-height: 2em;
  margin-bottom: 0;
}
.card{
  color: black;
  border: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
}
.display_flex{
  display: flex;
}
.between{
  justify-content: space-between;
}
.flex-container{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: inherit;
  padding-bottom: 0;
}
.position{
  align-items: center;
  justify-content: center;
  max-width: 180px;
}
.back_container{
  margin-top: 0;
  background: #F6F6F6;
  padding-top: 20px;
}
.photo{
  width: 124px; 
  height: 124px;
}
.main-photo{
  width: 80px; 
  height: 80px;
}
.photo_mini, .photo_back{
  width: 36px; 
  height: 36px;
}
.active_user, .active_user_mini {
  margin-right: 0.1rem;
  text-align: right;
}
.active_user{
  left: 2px;
  top: 14px;
  z-index: 101;
}
.nav_nick{
  line-height: 30px;
  padding-top: 6px;
}
.active_user_mini {
  font-size: 5px;
}
.avatar_mini{
  padding: 4px;
  padding-right: 14px
}
.post_write{
  width: 90%; 
}
.post_writed{
  padding-right: 8px;
  margin-bottom: 0;
}
.new_post{
  display: flex;
  align-items: center;
  background: #A2CDF8;
  border-radius: 14px;
  padding: 10px;
}
.new_post_index{
  padding-top: 10px;
}
.padding_bot{
  padding-bottom: 15px;
}
.comment_field{
  max-width: 330px;
  min-width: 100%;
  background: white;
  margin: 5px;
  border-radius: 5px;
  border: 0.7px solid #568CD6;
  box-sizing: border-box;
  padding-top: 0.3rem;
}
textarea {
  resize: none;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #5585F7;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
}
textarea.form-control {
  height: 48px;
  padding-top: 13px;
}
textarea::-webkit-input-placeholder { 
  color: #568CD6; 
  font-size: 14px;
}
input[type="form-control"]{
  font-size: 14px;
  color: #5585F7;
  width: 100%;
  height: 48px;
  border: none;
}
input[type="form-control"]::placeholder{
  font-size: 14px;
  color: #5585F7;
  line-height: 35px;
  border: none;
}
.form-control:focus{
  border: none;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}
.field{
  max-width: 700px;
  min-width: 80%;
}
.send{
  font-size: 17px;
  color: #568CD6;
  width: 100px;
  line-height: 33px;
  height: 25px;
  border: none;
  padding-left: 0.8rem;
  margin-top: 6px;
  background: white;
}
.post_section{
  display: flex;
  justify-content: flex-start;
}
.fa_circle{
  font-size: 10px;
}
a, .nickname_text{
  font-size: 17px;
  color: #0E1826;
  font-weight: 500;
  /* padding-right: 5px; */
}
.nickname_text_comment{
  font-size: 13px;
  font-weight: 500;
  color: #0E1826;
  padding-right: 3px;
  margin-bottom: 0;
  padding-top: 3px;
}
.all_comments{
  color: #568CD6;
  padding-bottom: 15px;
}
.time{
  font-size: 12px;
  color: #838487;
  line-height: 2em;
}
.time_comment{
  line-height: 1.7em;
}
.text_comment{
  font-size: 14px;
  color: #0E1826;
  margin-bottom: 0;
}
.reply_comment{
  font-size: 13px;
  color: #568CD6;
}
.comment_form_width{
  width: inherit;
  margin-bottom: 0;
}
.border_bottom{
  border-bottom: 0.005em solid #838487;
}
.image {
  max-height: 561px;
  width: 100%;
  padding-right: 8px;
}
.post_container{
  max-width: 689px;
}
.followers{
  color: #8255C7;
}
.dropdown, .dropdown-toggle{
  text-align: right;
  background: white;
}
.dropdown{
  height: 2px;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border: 0;
  background: white;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
input[class="send" i]::-webkit-file-upload-button {
  background-color: transparent;
} 
.smile{
  font-size: 14px;
  color: #838487;
}
.frown-o{
  left: 0px;
  top: -7px;
  z-index: 101;
}
.counter{
  font-size: 14px;
}
.count{
  color: #0E1826;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
}
.nil{
  height: 70px;
  max-width: 768px;
}
.fixed-bottom{
  background: #A5CCFF;
}
.btn{
  font-size: 14px;
  color: #FFFFFF;
}
.nav-justified{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search_control {
  padding: 1rem;
  padding-left: 0;
  border-width: 0;
  border-color: transparent;
  overflow: hidden;
  display: inline;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #0E1826;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  box-sizing: content-box;
}
.search_control::-webkit-input-placeholder { 
  color: #DEDEDE; 
  font-size: 24px;
}
:focus {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: #fff ;
  outline-style: auto;
  outline-width: 5px;
}
.search_div {
  width: 80%;
}
.inline {
  display: flex;
  justify-content: flex-start;
}
.cod_country{
  font-size: 24px;
  line-height: 1.5;
  padding: 1rem;
  padding-right: 0;
}
.nav-link {
  color: #838487;
}
.active {
  font-weight: bold;
  color: #000000;
}
.search_link{
  width: 100%;
}
a.btn-search{
  background: linear-gradient(90deg, #568CD6 0%, #0F3794 97.64%);
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
}
.recomendation{
  font-size: 18px;
  color: #838487;
  padding-left: 5%;
  padding-bottom: 1.5rem;
}
@media (min-width: 770px){
  .password_creation{
    width: 500px;
  }
  .container{
    max-width: 930px;
  }
  .navbar{
    font-size: 14px;
  }
  .btn{
    font-size: 14px;
    color: #FFFFFF;
  }
  .h6{
    font-size: 14px;
  }
  .h5{
    left: -2px;
    top: -7px;
  }
  .post_write{
    width: 930px; 
  }
  .comment_field{
    max-width: 700px;
  }
  .send{
    padding-left: 14px;
    margin-top: 7px;
  }
  .image {
    max-height: 1050px;
  }
  input[class="send" i]::-webkit-file-upload-button {
    background-color: transparent;
  } 
  .smile{
    font-size: 14px;
    color: #838487;
  }
  .frown-o{
    left: 0px;
    top: -9px;
    z-index: 101;
  }
  .counter{
    font-size: 14px;
  }
  .count{
    color: #0E1826;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
  }
  .nil{
    height: 70px;
    max-width: 768px;
  }
  .fixed-bottom{
    max-height: 90px;
    background: #A5CCFF;
  }
}

.none-desktop{
  display: none;
}
.center-navbar{
  padding-right: 62px;
}
.back-navbar{
  height: 90px;
}
.blocks_under_avatar{
  min-width: 95px;
}
.btn-group{
  margin-top: 20px;
}
.card-body{
  padding: 16px 8px 8px 20px;
}
.comments{
  border-right: 1px solid #e9e9ea;
  padding: 0 5px;
}
.likes{
  padding: 0 5px;
}
.unsubscribe{
  color: #568CD6;
  font-size: 14px;
  height: 44px;
  padding-top: 13px;
}
.under_post_section{
  padding: 11px 5px 8px 5px;
}
.post_write {
  width: 770px;
}
.avatar_in_post{
  width: 62px; 
  height: 62px;
}
.photo_comment{
  width: 24px; 
  height: 24px;
}
.border_on_comment{
  border-top: 1px solid #e9e9ea;
  padding-top: 10px;
}
.fixed-bottom{
  padding-top: 8px;
  padding-bottom: 24px;
}
.btn-follows{
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 8px 31px;
  font-weight: 500;
  font-size: 14px;
  color: #0E1826;
}
.btn-follows:active, .btn-follows:hover, .btn-follows:focus {
  text-decoration: none;
  color: #0E1826;
}
.nickname_follows{
  font-weight: bold;
  font-size: 18px;
  color: #0E1826;
}
.friend{
  margin: 0 24px 16px 48px;
}
input.block-send-information, input.send-information {
  padding-top: 4px;
}
.new_post_navbar{
  font-size: 17px;
}
.input_description{
  top: 60px;
  bottom:10px;
  width: 100%;
  position:absolute;
  padding: 20px;
}
.input_description:focus{
  outline: none;
}
.bottom-new-post{
  background: #F6F6F6;
  height: 84px;;
}

@media (max-width: 415px){
  .start_page {
    margin-top: 110px;
  }
  .form-in-authentication {
    width: 288px;
  }
  .password_page {
    margin-top: 32px;
  }
  .none-mobile, .area-desktop{
    display: none;
  }
  .photo{
    width: 80px; 
    height: 80px;
  }
  .none-desktop{
    display: inline-block;
  }
  .center-navbar{
    padding: 0;
  }
  .navbar , .back-navbar{
    height: 60px;
  }
  .center-navbar{
    padding-right: 0px;
    padding-left: 33px;
  }
  .h5 {
    top: -20px;
  }
  .blocks_under_avatar{
    min-width: 90px;
  }
  h6{
    font-size: 18px;
  }
  .photo_mini{
    width: 24px; 
    height: 24px;
  }
  textarea.form-control {
    height: 28px;
    padding-top: 4px;
    width: 100%;
}
  .nickname_text{
    font-size: 12px;
    font-weight: 500;
  }
  .time{
    font-size: 10px;
    margin-left: 3px;
  }
  .wrap{
    font-size: 12px;
  }
  .mobile_post_section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #e9e9ea;
    border-top: 1px solid #e9e9ea;
  }
  .card-body{
    padding: 8px 0;
    padding-right: 8px;
  }
  .comments, .likes{
    width: 50%;
  }
  .block-send-information, .send-information {
    width: 288px;
    height: 36px;
    font-size: 12px;
    padding-top: 10px;
  }
  .input_for_form{
    margin-top: 18px;
  }
  .unsubscribe{
    font-size: 12px;
    padding-top: 10px;
    height: 36px;
  }
  .photo_back{
    width: 36px; 
    height: 36px;
  }
  .new_post{
    border-radius: 5px;
  }
  .avatar_in_post{
    width: 24px; 
    height: 24px;
  }
  .photo_comment{
    width: 16px; 
    height: 16px;
  }
  .nickname_text_comment, .text_comment{
    font-size: 12px;
  }
  .border_on_comment{
    border-top: none;
    padding-top: 0px;
  }
  .all_comments{
    font-size: 13px;
    padding-bottom: 10px;
  }
  .reply_comment{
    font-size: 10px;
  }
  .send {
    font-size: 12px;
    line-height: 0px;
    padding: 0px;
    margin-top: 2px;
    margin-right: 0px;
    width: 36%;;
  }
  .form-control{
    padding: 3px 5px;
  }
  .field{
    min-width: 70%;
  }
  .fixed-bottom{
    padding-top: 6px;
    padding-bottom: 20px;
  }
  .photo_input{
    margin-top: 5px;
  }
  .follows{
    font-size: 13px;
    padding-right: 23px;
  }
  .friend{
    margin: 8px 2px;
  }
  .nickname_follows{
    font-size: 12px;
  }
  .btn-follows{
    padding: 3px 10px;
    font-size: 12px;
  }
  .account-settings{
    margin-top: 50px;
  }
  .new_post_navbar{
    font-size: 13px;
  }
  .add_post{
    width: 20px;
    height: 20px;
  }
}
#File1 {
position: absolute;
}
.customFile {
width: 219px;
margin-left: -140px;
cursor: default;
height: 21px;
z-index: 2;
opacity: 0;
}
.uploadButton {
    display: block;
    width: 35px;
    height: 35px;
    background: linear-gradient(90deg, #568CD6 0%, #0F3794 97.64%);
    padding: 5px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    cursor: pointer;
}
.uploadButton:hover {
    background: linear-gradient(90deg, #568CD6 0%, #0F3794 97.64%);
}
.input_description {
  display: block;
  width: 60rem;
  height: 500px;
  margin-top: 20pt;
  font-size: 1rem;
  line-height: 1.5;
  color: #010101s;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 0.25rem;
}
.down{
  margin-top:500px;
}
.button-send {
  font-family: Roboto;
  border-radius: 5px;
  width: 320px;
  height: 44px;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 1);
  text-align: center;
  padding-top: 5px;
}

.icon-btn{
  cursor: pointer;
}
.input_description:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.6s ease;}

.hashtag{
  color: #568CD6;
  font-weight: normal;
}
.rounded-circle{
  background-size: cover;
}
