.start_page{
  padding-top: 100px;
  font-size: 22px;
  font-weight: 500;
}
.around_button_start_page{
  margin-top: 30px;
}
.button_log_in, .button_sign_up{
  display: inline-block;
  color: white;
  text-decoration: none;
  width: 300px;
  height:70px;
  padding-top: 20px;
}
.button_sign_up{
  background: #ffc107;
}
.button_log_in{
  background: #dc3545;
}
.button_log_in:hover, .button_sign_up:hover { color: white; text-decoration: none;}
.button_log_in:active, .button_sign_up:active { color: white; text-decoration: none;} 

.greeting{
  padding: 60px;
  font-size: 20px;
  font-weight: bold;
}
