 body{
  font-family: Roboto, sans-serif;
  margin: 0 auto;
  background: white;
 }
 .start_page{
  display: flex;
  justify-content: center;
  margin-top: 264px;

}
.greeting{
width: 244px;
height: 57px;
font-weight: bold;
line-height: normal;
font-size: 24px;
color: #0E1826;
}
.input_for_form{
border: 0.5px solid #568CD6;
box-sizing: border-box;
box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.120697);
border-radius: 5px;
margin-top: 58px;
width: 358px;
height: 56px;
padding: 6px 12px 10px 12px;
}
.phonenumber{
font-weight: 500;
font-size: 12px;
color: #838487;
margin: 0;
}
.input_phone, .phone-mask{
  border: none;
  font-size: 14px;
}
.input_phone:active, .input_phone:hover, .input_phone:focus {
  outline: 0;
  outline-offset: 0
  }
  .gradient {
  background: #1613CC; /* Для старых браузров */
  background: linear-gradient(90deg, #568CD6 0%, #0F3794 97.64%);
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.631878);
  border-radius: 5px;
 }
 .block-send-information, .send-information{
  margin-top: 52px;
  border-radius: 5px;
  width: 358px;
  height: 44px;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #FFFFFF;
 }
  .block-send-information{
  background: linear-gradient(90deg, #DDEAFD 0%, rgba(122, 177, 255, 0.480663) 99.99%, #DDEAFD 100%);

 }
  .send-information{
  background: linear-gradient(90deg, #568CD6 0%, #0F3794 97.64%);
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.631878);
 }
 .registration-agreement{
  margin-top: 63px;
  font-size: 12px;
  text-align: center;
  color: #838487;
}
.link-in_agreement{
  font-size: 12px;
  color: #4e87dc;
}
/* 
.around_button_start_page{
  margin-top: 30px;
}
.button_log_in, .button_sign_up{
  display: inline-block;
  color: white;
  text-decoration: none;
  width: 300px;
  height:70px;
  padding-top: 20px;
}
.button_sign_up{
  background: #ffc107;
}
.button_log_in{
  background: #dc3545;
}
.button_log_in:hover, .button_sign_up:hover { color: white; text-decoration: none;}
.button_log_in:active, .button_sign_up:active { color: white; text-decoration: none;} */

/*
}*/
/*
.input_phone:active, .input_phone:hover, .input_phone:focus {
  outline: 0;
  outline-offset: 0;
}
.phonenumber{
  font-size: 15px;
  color: #A9A9A9;
  font-weight: 200;
}

.send-phone{
  display: inline-block;
  width: 320px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #558bd5, #113a96 );
  color: white;
  font-size: 13px;
  padding: 10px 0px 10px 0px;
  margin-top: 40px;
}
.small-print{
font-size: 12px;
text-align: center;

color: #838487;
}*/


@media (min-width: 770px){
.input_for_form{
width: 350px;
}
}
/*.start_page{
  padding-top: 200px;
  font-size: 45px;
}
.around_button_start_page{
  margin-top: 50px;
}
.button_log_in, .button_sign_up{
  width: 750px;
  height:120px;
  padding-top: 25px;
}*/
/*
.phonenumber{
  font-size: 20px;
}
.input_phone{
  font-size: 37px;
    width: 500px;
}
.send-phone{
  width: 700px;
  border-radius: 10px;
  font-size: 30px;
  padding: 20px 0px 20px 0px;
  margin-top: 50px;
}
.small-print{
  width: 500px;
  font-size: 22px;
}*/
